// INCLUDE GOOGLE FONT - POPPINS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

h1 {
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    line-height: 4rem;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h2 {
    font-size: 2rem;
}

a {
    font-family: 'Poppins', sans-serif;
}